# Allow POST from external (webhook)
<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>
# Disable directory browsing
Options -Indexes
# Disable server signature
ServerSignature Off

<IfModule mod_security2.c>
    <LocationMatch "^/lms/webhook/">
        SecRuleEngine Off
    </LocationMatch>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Fix SSE headers
    <IfModule mod_headers.c>
        Header set X-Accel-Buffering "no"
        <If "%{REQUEST_URI} =~ m|/api/realtime/attendance-stream|">
            Header set Content-Type "text/event-stream"
            Header set Cache-Control "no-cache"
            Header set Connection "keep-alive"
        </If>
    </IfModule>

    # Redirect Trailing Slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # www → non-www
    RewriteCond %{HTTPS} !=on
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

    # Static files served directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Semua request → CodeIgniter (dia yang handle routing)
    RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]

    # Authorization header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 index.php
</IfModule>

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
<IfModule php7_module>
   php_value post_max_size 512M
   php_value upload_max_filesize 512M
   php_value memory_limit 512M
   php_value max_execution_time 300
   php_value max_input_time 300
</IfModule>
<IfModule lsapi_module>
   php_value post_max_size 512M
   php_value upload_max_filesize 512M
   php_value memory_limit 512M
   php_value max_execution_time 300
   php_value max_input_time 300
</IfModule>
# END cPanel-generated php ini directives, do not edit
