# Disable directory browsing
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Allow external POST to webhook/lynk
<IfModule mod_authz_core.c>
    <LocationMatch "^/webhook/lynk">
        Require all granted
    </LocationMatch>
</IfModule>

<IfModule mod_security.c>
    SecRuleEngine Off
</IfModule>
<IfModule mod_security2.c>
    SecRuleEngine Off
</IfModule>